<div class="row">

<h1><%= @user.name %></h1>
<div class="row">
	<h2>Net income: $<%= @thirty_day_income_chart[:data].last %> / day</h2>
	<p>$<%= @thirty_day_income_chart[:data].last * 7 %> / week</p>
	<p>$<%= @thirty_day_income_chart[:data].last * 30.43 %> / month</p>
	<p>$<%= @thirty_day_income_chart[:data].last * 365.25 %> / year</p>
	<small>From a 30 day trailing average</small>
</div>

<canvas id="canvas" height='450' width='800'></canvas>

</div>

<% content_for :page_specific_js do %>
	<script>
		$(document).ready(function(){
			$(function() {
			  var data, myNewChart;
			  data = {
			    labels: <%= raw @thirty_day_income_chart[:labels] %>,
			    datasets: [
			      {
			        fillColor: "rgba(151,187,205,0.5)",
			        strokeColor: "rgba(151,187,205,1)",
			        pointColor: "rgba(151,187,205,1)",
			        pointStrokeColor: "#fff",
			        data: <%= raw @thirty_day_income_chart[:data] %>
			      }
			    ]
			  };
			  return myNewChart = new Chart($("#canvas").get(0).getContext("2d")).Line(data,
			   	{
			  	tooltipTemplate: function(d){
			  		var tooltip = "$ " + d.value;
			  		return tooltip;
			  		},
			  	pointHitDetectionRadius : 3
			  	}
		  	)
			});
		})  
	</script>
<% end %>
