<div class="row">
  <div class="columns">
    <h1><%= @user.name %></h1>
  </div>

  <div class="columns">
  	<h2>Net income: <%= number_to_currency(@thirty_day_income_chart[:data].last, precision: 0) %> / day</h2>
  	<p><%= number_to_currency(@thirty_day_income_chart[:data].last * 7, precision: 0) %> / week</p>
  	<p><%= number_to_currency(@thirty_day_income_chart[:data].last * 30.43, precision: 0) %> / month</p>
  	<p><%= number_to_currency(@thirty_day_income_chart[:data].last * 365.25, precision: 0) %> / year</p>
  	<small>From a 30 day trailing average</small>
  </div>

  <div class="columns">
    <canvas id="canvas" style='width:100%'></canvas>
  </div>

</div>

<div class="row">
  <h3>Tracking accounts</h3>
  <ul>
    <% @user.accounts.each do |account| %>
      <li><%= "#{account.name} last updated #{time_ago_in_words account.balance_updates.last.created_at}" %></li>
    <% end %>
  </ul>
</div>

<% content_for :page_specific_js do %>
	<script>
		$(document).ready(function(){
			$(function() {
			  var data, myNewChart;
			  data = {
			    labels: <%= raw @thirty_day_income_chart[:labels] %>,
			    datasets: [
			      {
			        fillColor: "rgba(151,187,205,0.5)",
			        strokeColor: "rgba(151,187,205,1)",
			        pointColor: "rgba(151,187,205,1)",
			        pointStrokeColor: "#fff",
			        data: <%= raw @thirty_day_income_chart[:data] %>
			      }
			    ]
			  };
			  return myNewChart = new Chart($("#canvas").get(0).getContext("2d")).Line(data,
			   	{
			  	tooltipTemplate: function(d){
			  		var tooltip = "$ " + d.value;
			  		return tooltip;
			  		},
			  	pointHitDetectionRadius : 3
			  	}
		  	)
			});
		})  
	</script>
<% end %>
